* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navigation-bar {
    background-color: #ae8d4a;
    padding-left: 260px;
    padding-right: 260px;
}

.navigation-bar nav ul li{
    list-style-type: none;
    display: inline-block;
    color: #f8f6f2;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding: 12px 9px 12px 19px;
    font-family: 'Poppins', sans-serif;

}
.navigation-bar nav ul li a{
    color: inherit;
    text-decoration: none;
}

.nav-item, img {
    padding-right: 0px;
    vertical-align: middle;
    z-index: 999;
    position: sticky;
}

/* Manu Bar */
.navigation-bar-2 {
    background-color: #fcf9e8;
    padding-left: 260px;
    padding-right: 260px;
}
.navigation-bar-2 nav ul li a{
    text-decoration: none;
    color: #00281a;
    vertical-align: middle;
}

.navigation-bar-2 nav ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    background-color: #fcf9e8;
    text-align: center;
    font-size: 16px;
    padding: 8px 9px 8px 19px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navigation-bar-2 nav ul li>a:active{
    color: #ad8c4a;
    border-bottom: 2px solid #ad8c4a;
    text-decoration: none;
}


.last-manu {
    list-style-type: none;
    padding: 12px;
    vertical-align: top;
    font-family: 'Poppins', sans-serif;
    background-color: #043526 !important;
    color: #e6e4e4;
    position: relative;
    left: 150%;
    font-size: 13px;
    font-weight: bolder;
}
/* banner Starts Here */
.Banner img {
    width: 100%;
    height: auto;
}

/* Container Body Starts Here */
.container-body {
    background-color: #fcf9e8;
    padding: 40px 260px;
    padding-bottom: 0px;

}

.container-body>p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #8c959d;
    text-align: center;

}

.seasonal-packages {
    background-color: #ffffff;
    margin-top: 25px;
    text-align: center;
}

.seasonal-packages a {
    padding: 0px 26px;
    text-align: center;
    padding: 14px 45px;
    color: #063324;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.seasonal-packages{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* .seasonal-packages li a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #ae8d4a;
}  */

.heading-2 {
    text-align: center;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    color: #ae8c4a;
    margin-top: 25px;
    text-transform: uppercase;
}

/* Cards Starts Here */

.cards-primary-primary-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 0vw;
    background-color: #fcf9e8;
    justify-content: center;
}

.card-container {
    padding: 20px 40px;

}

.card-container-secondary {
    background-color: #f8f2dc;
}

.card-container>p {
    background-color: #053527;
    color: #ffffff;
    padding: 0.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.hotel>div {
    width: 1.5vw;
    padding: 0.7vw 0vw;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
}

.hotel-details p:nth-child(1) {
    font-size: 24px;
    font-weight: 900;
    color: #ad8c47;
    padding: 20px 5vw 0px 14px;
}

.hotel-details p:nth-child(2) {
    font-size: 12px;
    color: #054c49;
    padding-left: 15px;
}

.hotel-details p:nth-child(3) {
    font-size: 11px;
    color: #817f7a;
    padding-left: 15px;
}

.hotel-details p:nth-child(4) {
    padding-left: 9px;
}

.hotel-details p:nth-child(5) {
    padding-left: 11px;
    color: #054c49;
    font-size: 12px;
    padding-left: 13px;
}

.card-Head {
    background-color: #f8f2dc;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 900;
    color: #ad8c47;
    padding: 0px 18px 0px 13px;
}

.hr hr {
    margin: 0.5vw 20px;
    border: 1px solid #d9deed;
}

.more-details {
    background-color: #f8f2dc;
    color: #a8843e;
    display: inline-flex;
    padding: 0px 20px 20px 20px;
}

.more-details div:nth-child(2) {
    text-align: end;
    padding-left: 4.5vw;
}

.more-details p:nth-child(2n+1) {
    color: #004845;
    font-size: 12px;
}

.more-details p:nth-child(2n+2) {
    color: #71706e;
    font-size: 11px;
}

.card-action-btns {
    display: flex;
}

.card-action-btns a {
    text-align: center;
    background-color: #053527;
    color: #ffffff;
    padding: 0.5vw 2.9vw;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
}

.card-action-btns a {
    text-decoration: none;
    color: #ffffff;
}

.card-action-btns a:nth-child(2) {
    background-color: #ae8d4a;
}

.last-element-container {
    background-color: white;
    max-width: 1143px;
    padding: 20px;
    display: flex;
}

.last-element-container div {
    max-width: 627px;
}

.last-element-container h2 {
    text-transform: capitalize;
    color: #053527;
}

.last-element-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #8c959d;
    text-align: left;
    padding: 5px 0px 15px;
}
.CTA-btn{
    margin: 30px;
    display: flex;
    height: 4vw;
}
.CTA-btn img{
    display: flexbox;
    background-color: #002213;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    width: auto;
    height: auto;
    vertical-align: middle;
    justify-content: center;
    border: 5px solid #f7f0da;
}
.CTA-btn li{
    color: #002213;
    font-size: 12px;
    text-transform: capitalize;
    list-style-type: none;
    padding-left: 5px;

}
.CTA-btn a:nth-last-child(1){
    text-decoration: none;
    color: #ffffff;
    background-color: #053527;
    display: block;
    font-weight: 900;
    padding: 10px 35px;
    font-size: 14px;
}

/* Call to Action Links */
.call-to-action-links{
    display: flex;
    margin-top: 30px;
}
.call-to-action-links div{
    display: flex;
    background-color: #f8f2dc;
    margin: 0px 12px;
    width: 351px;
    justify-content: center;
    vertical-align: middle;
    padding: 30px 3px ;


    }
.call-to-action-links img{
    display: flex;
    background-color: #002213;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    width: auto;
    height: auto;
    border: 5px solid #ffffff;

}
.call-to-action-links div ul{
    list-style-type: none;

}   
.call-to-action-links div ul li:nth-child(1){
    color: #ae8c4a;
}
.call-to-action-links div ul li:nth-child(n+2){
    color: #002213;
    font-size: 12px;
}

/* Footer Styles Starts Here  */
.footer{
    background-color: #053527;
    padding: 40px 0px 40px 260px;
    display: flex;
    justify-content: space-between;
}

.link-lists{
    padding: 5px 12px 2px;

}
.link-lists h3{
    color: #c79a4f;
    font-size: 14px;
    font-weight: 600;
}
.link-lists ul{
    padding-left: 12px;
    padding-bottom: 30px;
}
.link-lists ul li{
    list-style-image: url('images/list-type.png');
}
.link-lists ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.Last-footer-buttons div > a{
    margin-bottom: 15px;
    width: 145px;
    text-decoration: none;
    color: #ffffff;
    background-color: #4bae4e;
    padding: 12px 25px;

}
.Last-footer-buttons div a:nth-last-child(1){
    background-color: #ae8d4a;
    margin-bottom: 15px;
    width: 145px;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 25px;
    position: relative;
    top: 20px;

}

#WA a{
    background-color: #4caf50;
    margin-left: 0px;
    position: relative;
    top: 24px;
    padding: 15px 30px 15px 0px;
  }
#CB a{
    margin-left: 0px;
    background-color: #ad8c47;
    position: relative;
    vertical-align: middle;
    top: 36px;
    padding: 15px 34px 15px 0px;
}
#WA img{
    z-index: 999;
    position: relative;
    left: -36px;
}
#CB img{
    z-index: 999;
    position: relative;
    left: -39px;
    background-color: white;
    padding: 20px;
    border: 0px solid white;
    border-radius: 50%;
}

nav ul li a.active{
    color: #ad8c4a;
    border-bottom: 2px solid #ad8c4a;
    text-decoration: none;
}
.active-2 a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ae8d4a;
}
/* .WA a{
    text-decoration: none;
    color: #ffffff;
    background-color: #4cb050;

}
.CB{
    text-decoration: none;
    color: #ffffff;
    background-color: #ae8d4a;
} */
